@mixin transition($trasition) {
    -webkit-transition: $trasition;
    transition: $trasition;
    -o-transition: $trasition;
    -moz-transition: $trasition;
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
