/*
@package custom_theme
*/


@import "mixins";

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  width: auto !important;
  overflow-x: hidden !important;
  font-weight: 100;
}

#item {
  background-color: #fff;
  &:hover {

  }
}

/*
==================
HEADER
==================
*/
#header {
  background-image: url(/wp-content/themes/custom_theme_theme/pictures/png/background.png);
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
}

@media all and  (max-width: 992px) {
  .section {

  }
}

